<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.name }} :: {{ page.title }}</title>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.1/pure-min.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/blog.css">
  </head>
  <body>
    <div id="layout" class="pure-g">
      <div class="sidebar pure-u-1 pure-u-med-1-4">
        <div class="header">
          <hgroup>
            <h1 class="brand-title">
              <a href="/">{{ site.name }}</a>
            </h1>
            <h2 class="brand-tagline">Simplifying the web</h2>
          </hgroup>
          <div  
            id="social-menu"
            class="pure-menu pure-menu-open pure-menu-horizontal"
          >
            <ul>
              <li>
                <a href="{{ site.github }}">
                  <i class="icon-github"></i>
                </a>
              </li>
              <li>
                <a href="{{ site.twitter }}">
                  <i class="icon-twitter"></i>
                </a>
              </li>
              <li>
                <a href="{{ site.linked_in }}">
                  <i class="icon-linkedin"></i>
                </a>
              </li>
            </ul>
          </div><!-- /.pure-menu -->
        </div><!-- /.header -->
      </div><!-- /.sidebar -->

      <div class="content pure-u-1 pure-u-med-3-4">
        {{ content }}

        <div class="footer">
          <div class="pure-menu pure-menu-horizontal pure-menu-open">
            <ul>
              <li>
                <a href="/">&copy; 2014 Keith Loy</a>
              </li>
              <li>
                <a href="{{ site.linked_in }}">
                  LinkedIn
                </a>
              </li>
              <li>
                <a href="{{ site.twitter }}">
                  Twitter
                </a>
              </li>
              <li>
                <a href="{{ site.github }}">GitHub</a>
              </li>
            </ul>
          </div><!-- /.pure-menu -->
        </div><!-- /.footer -->
      </div><!-- /.content -->
    </div><!-- /#layout -->
  </body>
</html>
